<div class="download-block @@color-block">
    @@if (xlsx === true) {
    <a href="" class="download-block__item">
        <span class="download-block__icon">
            <img src="@img/icons/xlsx.svg" alt="Иконка">
        </span>
        <span class="download-block__content">
            <span class="download-block__name">Прайс лист</span>
            <span class="download-block__subtitle">Запросить</span>
        </span>
    </a>
    }
    @@if (catalog === true) {
    <a href="" class="download-block__item">
        <span class="download-block__icon">
            <img src="@img/icons/pdf.svg" alt="Иконка">
        </span>
        <span class="download-block__content">
            <span class="download-block__name">Каталог продукции</span>
            <span class="download-block__subtitle">pdf 14,65 Mb</span>
        </span>
    </a>
    }
    @@if (cert === true) {
    <a href="" class="download-block__item">
        <span class="download-block__icon">
            <img src="@img/icons/pdf.svg" alt="Иконка">
        </span>
        <span class="download-block__content">
            <span class="download-block__name">Сертификат</span>
            <span class="download-block__subtitle">pdf 2,42 Mb</span>
        </span>
    </a>
    }
    @@if (revitSml === true) {
    <a href="" class="download-block__item">
        <span class="download-block__icon">
            <img src="@img/icons/revit.png" alt="Иконка">
        </span>
        <span class="download-block__content">
            <span class="download-block__name">Revit для продукции SML</span>
        </span>
    </a>
    }
    @@if (revitBlm === true) {
    <a href="" class="download-block__item">
        <span class="download-block__icon">
            <img src="@img/icons/revit.png" alt="Иконка">
        </span>
        <span class="download-block__content">
            <span class="download-block__name">Revit для продукции BML</span>
        </span>
    </a>
    }
    @@if (revitKml === true) {
    <a href="" class="download-block__item">
        <span class="download-block__icon">
            <img src="@img/icons/revit.png" alt="Иконка">
        </span>
        <span class="download-block__content">
            <span class="download-block__name">Revit для продукции KML</span>
        </span>
    </a>
    }
</div>