<div class="heading">
    <nav aria-label="Хлебные крошки" class="breadcrumbs">
        <ul class="breadcrumbs__list">
            <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link icon-home">Главная</a>
            </li>
            @@if (typeof breadcrumbs !== 'undefined') {
            @@for (var i = 0; i < breadcrumbs.length; i++) { <li class="breadcrumbs__item">
                <a href="" class="breadcrumbs__link">`+breadcrumbs[i]+`</a>
                </li>
                }
                }
                <li class="breadcrumbs__item">
                    <span class="breadcrumbs__link active">@@title</span>
                </li>
        </ul>
    </nav>
    <h1 class="heading__title title">@@title</h1>
</div>