.breadcrumbs {
	position: relative;
	z-index: 3;

	&__list {
		display: flex;
		align-items: center;
		gap: 0.5rem;
	}

	&__item {
		display: inline-flex;
		align-items: center;
		min-width: 0;
		font-size: 0.8125rem;

		&:not(:last-child) {
			flex-shrink: 1;
			&::before {
				order: 1;
				margin-left: 0.5rem;
				@extend %ic, .icon-arrow-right;
			}
		}

		&:not(:last-child) {
			flex-shrink: 0;
			overflow: visible;
			text-overflow: clip;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		gap: 0.31rem;
		&::before {
			color: 0.8125rem;
			color: $accent;
		}

		&:is(a) {
			transition: color 0.3s ease;
			@media (any-hover: hover) {
				&:hover {
					color: $accent;
				}
			}
		}

		&.active {
		}
	}
}
