.fancybox__container {
	max-width: 100% !important;
	padding: 0 !important;
}

.fancybox__slide {
	padding: 0;
	@media (min-width: $md4) {
		padding: 1.25rem;
	}
}

.fancybox__backdrop {
	background: rgba(30, 30, 30, 0.6);
}

.fancybox__content {
	color: inherit;
	background: none;
	padding: 0;
}

.fancybox__content :focus:not(.carousel__button.is-close) {
	outline: none;
}

.popup {
	display: none;
	background: #fff;
	max-width: 36.75rem;
	width: 100%;
	color: #242020;
	padding: 1.5rem;
	border-radius: 1.875rem;

	// .popup__title
	&__title {
	}
	// .popup__subtitle
	&__subtitle {
		margin-top: 1.25rem;
	}
	// .popup__form
	&__form {
		margin-top: 1.25rem;
		.row {
			--gutter-x: 1rem;
			--gutter-y: 1rem;
		}
	}
}
