.about {
	// .about__body
	&__body {
		margin: 0 -1rem;
		@media (min-width: $md4) {
			margin: 0;
		}
	}
	// .about__block
	&__block {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-bottom: rem(24);
		}
	}
	// .about__block-btn
	&__block-btn {
		margin-top: 1rem;
		border-radius: 1.25rem;
		min-width: 100%;
		@media (min-width: $md4) {
			min-width: 13.375rem;
		}
		&::before {
			order: 1;
			transform: rotate(-90deg);
		}
	}
	&__image {
		min-height: rem(300);
		& img {
			border-radius: rem(24);
		}
	}
	// .about__sidebar
	&__sidebar {
		@media (min-width: $md3) {
			border-radius: 1.25rem;
			background: #fff;
			padding: 1rem 0;
			position: sticky;
			top: 1rem;
		}
	}
	// .about__menu
	&__menu {
		overflow: visible;
	}
	// .about__menu-list
	&__menu-list {
		@media (min-width: $md3) {
			display: flex;
			flex-direction: column;
		}
	}
	// .about__menu-item
	&__menu-item {
		width: auto;
		&:not(:last-child) {
			@media (min-width: $md3) {
				margin-bottom: 0.75rem;
				padding-bottom: 0.75rem;
				border-bottom: rem(1) solid #f9f9f9;
			}
		}
	}
	// .about__menu-link
	&__menu-link {
		display: flex;
		align-items: center;
		gap: rem(6);
		position: relative;
		padding: 0.375rem 1.125rem;
		border-radius: 6.25rem;
		font-size: 0.875rem;
		@media (max-width: $md3) {
			background: #fff;
		}
		@media (min-width: $md4) {
			font-size: 1rem;
		}
		@media (min-width: $md3) {
			padding: 0 1rem;
			font-size: 1.125rem;
			line-height: 120%;
		}
		&.active {
			@media (max-width: $md3) {
				background: #d21e44;
				color: #fff;
			}
			@media (min-width: $md3) {
				color: #d21e44;
				&::after {
					content: "";
					position: absolute;
					top: 50%;
					transform: translateY(-50%);
					left: 0;
					width: 0.125rem;
					height: 1.25rem;
					border-radius: 0 0.125rem 0.125rem 0;
					background: #d21e44;
				}
			}
		}
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
			}
		}
	}
	// .about__nums
	&__nums {
		margin-top: rem(20);
	}
	// .about__num
	&__num {
	}
	// .about__num-value
	&__num-value {
		font-size: 2rem;
		font-weight: 600;
		@media (min-width: $md1) {
			white-space: nowrap;
		}
	}
	// .about__num-desc
	&__num-desc {
		margin-top: 0.75rem;
		line-height: 120%;
	}
	// .about__map
	&__map {
		position: relative;
		border-radius: 1.875rem;
		background: #fff;
		padding: 0.75rem;
		& iframe {
			border-radius: 1.125rem;
			width: 100%;
			min-height: 31.75rem;
		}
	}
	// .about__map-balloon
	&__map-balloon {
		position: absolute;
		top: rem(28);
		left: rem(28);
		border-radius: 0.625rem;
		background: #fff;
		width: 22.25rem;
		padding: 0.75rem;
		display: flex;
		flex-direction: column;
		gap: 0.75rem;
	}
	// .about__map-caption
	&__map-caption {
	}
	// .about__map-address
	&__map-address {
		color: #646363;
		font-size: 1.25rem;
		line-height: 120%;
	}
	// .about__map-image
	&__map-image {
		& img {
			border-radius: 0.25rem;
		}
	}
	&__objects {
		margin-top: rem(20);
		position: relative;
		.object__card-image {
			@media (min-width: $md2) {
				height: rem(320);
			}
		}
	}
}

.certs-slider {
	overflow: visible;
	@media (min-width: $md4) {
		overflow: hidden;
	}
	// .certs-slider__slide
	&__slide {
		width: rem(160);
		border-radius: rem(8);
		overflow: hidden;
		height: auto;
	}
}

.contacts {
	display: flex;
	gap: 1rem;
	flex-direction: column;
	@media (min-width: $md4) {
		justify-content: space-between;
		align-items: center;
		flex-wrap: wrap;
		flex-direction: row;
	}
	// .contacts__column
	&__column {
		display: flex;
		flex-direction: column;
		@media (min-width: $md4) {
			align-items: flex-start;
			align-self: flex-end;
		}
	}
	// .contacts__links
	&__links {
		display: flex;
		align-items: center;
		gap: rem(20);
		row-gap: 0.75rem;
		flex-wrap: wrap;
		.contacts__email,
		.contacts__link {
			margin-top: 0;
		}
	}
	// .contacts__hint
	&__hint {
		color: #8f8f8f;
		font-size: 1rem;
		order: -1;
		margin-bottom: rem(8);
		@media (min-width: $md4) {
			margin-bottom: rem(0);
			margin-top: rem(5);
			order: 0;
		}
	}
	// .contacts__link
	&__link {
		font-size: 1.25rem;
		font-weight: 600;
		margin-top: 0.75rem;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .contacts__email
	&__email {
		@extend .contacts__link;
		order: 1;
		@media (min-width: $md4) {
			order: 0;
		}
	}
	// .contacts__worktime
	&__worktime {
		margin-top: 0.5rem;
		color: #8f8f8f;
		font-size: 1rem;
	}
	// .contacts__company
	&__company {
		font-size: 1.25rem;
		font-weight: 600;
	}
	// .contacts__req
	&__reqs-value {
		margin-top: 0.75rem;
		font-size: 1.25rem;
		font-weight: 600;
	}
	// .contacts__req
	&__reqs {
		display: flex;
		flex-direction: column;
		order: 1;
		@media (min-width: $md4) {
			order: 0;
			align-items: flex-start;
			align-self: flex-end;
		}
	}
	// .contacts__req-download
	&__req-download {
		margin-top: 0.5rem;
		font-size: 1rem;
		transition: color 0.3s ease;
		color: $accent;
		@media (min-width: $md4) {
			color: #8f8f8f;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .contacts__socials
	&__socials {
	}
	// .contacts__callback
	&__callback {
		margin-top: 0.75rem;

		font-size: 1rem;
		transition: color 0.3s ease;
		width: 100%;
		text-align: center;
		color: #fff;
		background: #d21e44;
		padding: rem(15);
		border-radius: rem(100);
		@media (min-width: $md4) {
			width: auto;
			background: transparent;
			color: #8f8f8f;
			padding: 0;
			border-radius: 0;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.socials {
	gap: 0.75rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);

	@media (min-width: $md4) {
		display: flex;
		align-items: center;
		align-self: flex-end;
		justify-content: flex-end;
	}
	// .socials__item
	&__item {
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 6.25rem;
		border: rem(2) solid #d21e44;
		width: 100%;
		padding: 0.75rem 1rem;
		gap: 0.5rem;
		&::before {
			color: #d21e44;
			@media (min-width: $md4) {
				color: #fff;
				font-size: 1.25rem;
			}
		}
		@media (min-width: $md4) {
			transition: background-color 0.3s ease;
			color: #fff;
			background: #d21e44;
			border: 0;
			border-radius: 50%;
			width: 3.125rem;
			height: 3.125rem;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #d21e44, $amount: 10);
			}
		}
	}
}

.partners-slider {
	margin-top: rem(20);
	// .partner-slider__slide
	&__slide {
		width: auto;
		height: rem(74);
		padding: rem(12);
		border-radius: rem(20);
		display: flex;
		& img {
			height: 100%;
			width: auto;
		}
	}
	// .partners-slider__scrollbar
	&__scrollbar {
		margin-top: 1rem;
	}
}
