.promo {
	padding: 0 0 1.25rem 0;
	@media (min-width: $md4) {
		padding: 1.25rem 0;
	}
	.container {
		@media (max-width: $md4) {
			padding: 0;
		}
	}
	// .promo__banner
	&__banner {
		color: #fff;
		overflow: hidden;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		min-height: 43.75rem;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		z-index: 1;
		border-radius: 0 0 1.25rem 1.25rem;
		padding: rem(32) rem(16) rem(16);
		@media (min-width: $md4) {
			padding: rem(30);
			border-radius: 2rem;
		}
		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: -1;
			background-color: rgba(0, 0, 0, 0.5);
			border-radius: 0 0 1.25rem 1.25rem;
			@media (min-width: $md4) {
				border-radius: 2rem;
			}
		}
	}
	// .promo__title
	&__title {
		font-weight: 500;
		max-width: 60rem;
		font-size: 2.25rem;
		@media (min-width: $md3) {
			line-height: 133.333%;
			font-size: 3rem;
		}
		@media (min-width: $md1) {
			font-size: 3.75rem;
		}
	}
	// .promo__footer
	&__footer {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: rem(45);
		@media (min-width: $md2) {
			flex-direction: row;
			align-items: flex-end;
			justify-content: space-between;
		}
	}
	// .promo__description
	&__description {
	}
	// .promo__description-caption
	&__description-caption {
		font-size: 1.75rem;
		font-weight: 500;
	}
	// .promo__description-text
	&__description-text {
		color: #cacaca;
		margin-top: rem(12);
		@media (min-width: $md4) {
			margin-top: 1rem;
			font-size: 1.125rem;
		}
		@media (min-width: $md3) {
			max-width: 31.875rem;
			font-size: 1.25rem;
		}
	}
	// .promo__btn
	&__btn {
		width: 100%;
		@media (min-width: $md4) {
			width: auto;
			min-width: 24rem;
		}
		@media (min-width: $md2) {
			flex-shrink: 0;
		}
	}
	// .promo__video
	&__video {
		position: absolute;
		inset: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
		z-index: -2;
	}
}

.categories {
	padding: rem(12) 0 rem(26);
	@media (min-width: $md4) {
		padding: rem(32) 0 rem(35);
	}
	.row {
		--gutter-y: #{rem(8)};
		--gutter-x: #{rem(8)};
		@media (min-width: $md4) {
			--gutter-y: #{rem(16)};
			--gutter-x: #{rem(16)};
		}
	}
	// .categories__card
	&__card {
		background: #fff;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		font-weight: 600;
		position: relative;
		transition: color 0.3s ease;
		font-size: rem(14);
		padding: rem(12) rem(8) rem(8);
		height: 9.0625rem;
		border-radius: 0.875rem;
		gap: rem(12);
		@media (min-width: $md4) {
			border-radius: 1.25rem;
			height: 13.3125rem;
			font-size: 1rem;
			padding: rem(16);
		}
		@media (min-width: $md3) {
			padding: 1.25rem;
			font-size: 1.25rem;
		}
		@media (min-width: $md2) {
			padding: 1.5rem;
			font-size: 1.375rem;
		}
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
				.categories__card-image {
					& img {
						transform: scale(1.1);
					}
				}
			}
		}
	}
	// .categories__card-name
	&__card-name {
		max-width: 19.5625rem;
		position: relative;
		z-index: 2;
	}
	// .categories__card-image
	&__card-image {
		@media (max-width: $md4) {
			flex: 1 1 auto;
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			margin-left: rem(-8);
			margin-right: rem(-8);
			margin-bottom: rem(-8);
			& img {
				position: absolute;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				height: 100%;
			}
		}
		@media (min-width: $md4) {
			position: absolute;
			bottom: 0;
			right: 0;
			top: 0;
			pointer-events: none;
			z-index: 1;
			overflow: hidden;
			& img {
				height: 100%;
				width: auto;
				transition: transform 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			}
		}
	}
}

.benefits {
	// .benefits__title
	&__title {
		max-width: 71rem;
	}
	// .benefits__content
	&__content {
		background: #fff;
		margin-top: 1.75rem;
		padding: 1rem 1rem 1.12rem;
		overflow: visible;
		border-radius: 1.25rem;
		margin-left: -1rem;
		margin-right: -1rem;
		@media (min-width: $md4) {
			border-radius: 1.875rem;
			padding: 0.75rem;
			margin-top: rem(40);
			margin-left: 0;
			margin-right: 0;
		}
		.swiper-wrapper {
			@media (min-width: $md4) {
				--gutter-y: #{rem(12)};
				--gutter-x: #{rem(12)};
				display: flex;
				flex-wrap: wrap;
				min-width: 100%;
				width: auto;
				margin-top: calc(-1 * var(--gutter-y));
				margin-right: calc(-0.5 * var(--gutter-x));
				margin-left: calc(-0.5 * var(--gutter-x));
				& > * {
					flex-shrink: 0;
					max-width: 100%;
					padding-right: calc(var(--gutter-x) * 0.5);
					padding-left: calc(var(--gutter-x) * 0.5);
					margin-top: var(--gutter-y);
				}
			}
		}
		.swiper-slide {
			height: auto;
			@media (max-width: $md4) {
				width: 18.9375rem;
			}
		}
	}
	// .benefits__scrollbar
	&__scrollbar {
		@media (min-width: $md4) {
			display: none;
		}
	}
}

.card {
	border-radius: 1.125rem;
	background: #f2f2f2;
	padding: 1.25rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	height: 100%;

	// .card--white
	&.card--white {
		background: #fff;
		.card__icon {
			background: #f2f2f2;
			width: 2.25rem;
			height: 2.25rem;
			border-radius: 0.5rem;
			margin-bottom: auto;
		}
		.card__caption {
			font-size: 1.125rem;
		}
	}
	&__header {
		display: flex;
		align-items: center;
		gap: 1rem;
		.card__icon {
			background: $accent;
			width: 2.5rem;
			height: 2.5rem;
			border-radius: 0.5rem;
		}
	}
	// .card__icon
	&__icon {
		width: 3.75rem;
		height: 3.75rem;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		background: #fff;
	}
	// .card__caption
	&__caption {
		margin-top: 0.25rem;
		font-size: 1.375rem;
		font-weight: 500;
		line-height: 120%;
	}
	// .card__description
	&__description {
		color: #666;
		font-size: 1rem;
		line-height: 130%;
		& p,
		ul {
			font-size: 1rem;
		}
		& ul {
			list-style: disc;
			padding-left: 1.5em;
			& li {
				padding-left: 0;
				&:not(:last-child) {
					margin-bottom: 0;
				}
				&::before {
					display: none;
				}
			}
		}
	}
}

.marquee {
	// .marquee__slider
	&__slider {
		overflow: visible;
		.swiper-wrapper {
			transition-timing-function: linear !important;
		}
		.swiper-slide {
			background: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: rem(20);
			width: 20.5rem;
			height: 9rem;
			@media (min-width: $md4) {
				width: rem(384);
				height: rem(144);
			}
			& img {
				max-height: 90%;
				width: auto;
			}
		}
	}
}

.objects {
	.container {
		display: flex;
		flex-direction: column;
		gap: 1.25rem;
		@media (min-width: $md4) {
			gap: 1.5rem;
		}
	}
	// .objects__header
	&__header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	// .objects__btn
	&__btn {
		order: 1;
		@media (min-width: $md4) {
			margin-left: auto;
			order: 0;
		}
	}
	// .objects__slider
	&__slider {
		min-width: 0;
		max-width: 100%;
	}
	// .objects__slide
	&__slide {
		.row {
			@media (max-width: $md3) {
				display: contents;
				margin: 0;
				& > * {
					display: contents;
					padding: 0;
				}
			}
			@media (min-width: $md3) {
				--gutter-x: #{rem(24)};
				--gutter-y: #{rem(24)};
			}
		}
	}
	// .objects__slider-controls
	&__slider-controls {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.56rem;
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 2rem;
			gap: 1.5rem;
			align-items: center;
			justify-content: center;
			display: flex;
		}
	}
	// .objects__slider-prev
	&__slider-prev {
	}
	// .objects__slider-next
	&__slider-next {
		&::before {
			order: 1;
		}
	}
	// .objects__body
	&__body {
		overflow: hidden;
	}
	// .objects__categories
	&__categories {
		margin-bottom: 1rem;
		overflow: visible;
		margin-left: 0;
	}
	// .objects__category
	&__category {
		background: #f9f9f9;
		padding: rem(10) 1rem;
		border-radius: 0.875rem;
		min-width: 4.3125rem;
		width: fit-content;
		transition: background-color 0.3s ease, color 0.3s ease;
		&.active {
			background: #d21e44;
			color: #fff;
		}
		@media (any-hover: hover) {
			&:hover {
				background: #d21e44;
				color: #fff;
			}
		}
	}
}

.object {
	// .object__card
	&__card {
		display: flex;
		flex-direction: column;
		position: relative;
		min-height: 100%;
		&--large {
			.object__card-image {
				@media (min-width: $md3) {
					height: 31.25rem;
				}
			}
		}
		&--small {
			background: #f9f9f9;
			border-radius: rem(14);
			overflow: hidden;
			.object__card-image {
				z-index: 2;
				width: 100%;
				height: 14.375rem;
				border-radius: 1.25rem;
			}
			.object__card-name {
				position: relative;
				z-index: 1;
				font-size: 1rem;
				top: auto;
				left: auto;
				box-shadow: none;
				transition: background-color 0.3s ease, color 0.3s ease;
				margin-top: rem(-30);
				padding-top: rem(40);
				padding-bottom: rem(12);
				display: flex;
				justify-content: space-between;
				align-items: center;
				&::after {
					display: none;
				}
				&::before {
					position: static;
					z-index: 1;
					order: 1;
					transform: none;
					opacity: 0;
					background: transparent;
					transition: opacity 0.3s ease;
				}
			}
			@media (any-hover: hover) {
				&:hover {
					.object__card-name {
						background: $accent;
						color: #fff;
						&::before {
							opacity: 1;
						}
					}
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				.object__card-name {
					&::before {
						transform: none;
					}
				}
			}
		}
	}
	// .object__card-image
	&__card-image {
		border-radius: 1.25rem;
		overflow: hidden;
		flex: 1 1 auto;
		height: 17.875rem;
		@media (min-width: $md4) {
			height: 14.875rem;
		}
		& img {
			object-position: center;
		}
	}
	// .object__card-name
	&__card-name {
		color: #242020;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		line-height: 120%;
		border-radius: 0.5rem;
		display: block;
		position: absolute;
		z-index: 1;
		top: 0.75rem;
		left: 0.75rem;
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
		&::before {
			right: -2.5rem;
			top: 0;
			bottom: 0;
			width: 3.25rem;
			padding-left: 0.75rem;
			position: absolute;
			z-index: -1;
			border-radius: 0.5rem;
			background: #d21e44;
			color: #fff;
			display: flex;
			justify-content: center;
			align-items: center;
			transform: translateX(-100%);
			transition: transform 0.3s ease;
		}
		&::after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: #fff;
			box-shadow: 0 0 rem(32) 0 rgba(0, 0, 0, 0.2);
			border-radius: 0.5rem;
			z-index: -1;
		}
	}
}

.delivery {
	.container {
		@media (max-width: $md4) {
			padding: 0;
		}
		& > .row {
			--gutter-y: 0;
		}
	}
	.card__description {
		color: #242020;
	}
	// .delivery__banner
	&__banner {
		min-height: 100%;
		display: flex;
		flex-direction: column;
		color: #fff;
		border-radius: 1.25rem;
		padding: 1.25rem 1rem;
		background: linear-gradient(275deg, #1b2439 0%, #52555c 100%);
		@media (min-width: $md4) {
			background: url("@img/delivery.png") 100% 100% / 45% auto no-repeat, linear-gradient(275deg, #1b2439 0%, #52555c 100%);
			padding: rem(30);
			border-radius: 1.875rem;
			align-items: flex-start;
		}
	}
	// .delivery__label
	&__label {
		align-self: flex-start;
		padding: 0.5rem 2rem;
		color: #242020;
		line-height: 120%;
		border-radius: 0.625rem;
		background: #fff;
		box-shadow: 0 0 rem(32) 0 rgba(0, 0, 0, 0.2);
		@media (min-width: $md4) {
			font-size: 1.125rem;
		}
	}
	// .delivery__title
	&__title {
		letter-spacing: -0.05rem;
		margin-top: 1.19rem;
		@media (min-width: $md4) {
			margin-top: rem(39);
		}
	}
	// .delivery__text
	&__text {
		margin-top: 1.5rem;
		line-height: 130%;
		letter-spacing: -0.0225rem;
		max-width: 37rem;
		color: #d0d0d0;
		@media (min-width: $md4) {
			font-size: 1.125rem;
			color: #eee;
		}
		& p {
			&:not(:last-child) {
				margin-bottom: 1.25rem;
				@media (min-width: $md4) {
					margin-bottom: 1.375rem;
				}
			}
		}
	}
	// .delivery__btn
	&__btn {
		margin-top: 1.25rem;
		@media (min-width: $md4) {
			margin-top: 3rem;
		}
	}
	// .delivery__image
	&__image {
		overflow: hidden;
		min-height: 100%;
		display: flex;
		flex-direction: column;
		& img {
			flex: 1 1 auto;
		}
		border-radius: 1.25rem;

		min-height: 15rem;

		@media (min-width: $md3) {
			border-radius: rem(30);
		}
	}
	&__block {
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
	}
	// .delivery__card
	&__card {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	// .delivery__card-logo
	&__card-logo {
		border-radius: 0.5rem;
		background: #fff;
		padding: 1.25rem;
		height: rem(73);
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		@media (min-width: $md4) {
			width: fit-content;
		}
	}
	// .delivery__card-actions
	&__card-actions {
		margin-top: 1rem;
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
	}
	// .delivery__card-action
	&__card-action {
		color: rgba(210, 30, 68, 0.8);
		font-size: 1rem;
		line-height: 120%;
	}
}

.teasers {
	.container {
		@media (max-width: $md4) {
			padding: 0;
		}
	}
}

.teaser {
	color: #fff;
	position: relative;
	z-index: 1;
	padding: 1.25rem 1rem;
	border-radius: 1.25rem;
	background-color: #d21e44;
	&::before {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		transition: opacity 0.3s ease;
		background: linear-gradient(275deg, #1b2439 0%, #52555c 100%);
		border-radius: 1.25rem;
		@media (min-width: $md4) {
			border-radius: 1.875rem;
		}
	}
	@media (min-width: $md4) {
		border-radius: 1.875rem;
		padding: rem(30);
	}
	&:not(:last-child) {
		margin-bottom: rem(10);
	}

	@media (any-hover: hover) {
		&:hover {
			&::before {
				opacity: 0;
			}
			.teaser__btn {
				background: #1b2439;
			}
		}
	}
	// .teaser__title
	&__title {
		transition: color 0.3s ease;
		max-width: calc(100% - rem(64));
		display: inline-block;
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
			}
		}
	}
	// .teaser__btn
	&__btn {
		width: 2.75rem;
		height: 2.75rem;
		background: #d21e44;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		border-radius: 50%;
		transition: background-color 0.3s ease;
		margin-left: auto;
		@media (min-width: $md2) {
			position: absolute;
			top: rem(30);
			right: rem(30);
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #d21e44, $amount: 10);
			}
		}
	}
	// .teaser__body
	&__body {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		gap: 2rem;
		@media (min-width: $md2) {
			align-items: flex-end;
			flex-direction: row;
		}
	}
	// .teaser__description
	&__description {
		line-height: 130%;
		color: #d0d0d0;
		font-size: 1rem;
		margin-top: 0.75rem;
		@media (min-width: $md3) {
			margin-top: 1.25rem;
			font-size: 1.125rem;
		}
		@media (min-width: $md2) {
			flex: 0 1 44.5rem;
		}
	}
	// .teaser__actions
	&__actions {
		display: flex;
		gap: 0.75rem;
	}
	// .teaser__categories
	&__categories {
		display: flex;
		flex-wrap: wrap;
		gap: 0.75rem;
	}
	// .teaser__category
	&__category {
		display: inline-block;
		color: #fff;
		border: rem(1) solid #fff;
		font-size: 1rem;
		line-height: 120%;
		letter-spacing: -0.02rem;
		border-radius: 1.25rem;
		min-height: rem(44);
		padding: rem(10.5) rem(31);
		flex-shrink: 0;
		transition: color 0.3s ease, background-color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				background-color: #fff;
				color: $black;
			}
		}
	}
}
