.product {
	// .product__block
	&__block {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
		.sm-block {
			max-width: rem(950);
			width: fit-content;
			& ul {
				max-width: rem(728);
			}
		}
		.grey-block {
			.benefits__content {
				background: transparent;
				overflow: hidden;
				margin-top: 0;
			}
		}
	}
	// .product__more-btn
	&__more-btn {
		margin-top: 1.5rem;
		margin-left: auto;
		display: flex;
		width: fit-content;
		&::before {
			order: 1;
		}
	}
	// .product__desc
	&__desc {
	}
	// .product__image
	&__image {
		width: 100%;
		& img {
			border: rem(8) solid #f4f5f6;
			border-radius: 1.25rem;
			width: 100% !important;
		}
	}
	// .product__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.56rem;
		max-width: 100%;
		width: 100%;
		&:not(:first-child) {
			margin-top: 1rem;
			@media (min-width: $md3) {
				margin-top: 1.5rem;
			}
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(30, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(60, 1fr);
		}
	}
	// .product__card
	&__card {
		border-radius: 1.25rem;
		background: #f4f5f6;
		padding: 0.25rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		transition: color 0.3s ease;
		@media (max-width: $md3) {
			&:last-child {
				&:nth-child(odd) {
					grid-column: span 2;
				}
			}
		}
		@media (min-width: $md3) {
			grid-column: span 10;
		}
		@media (min-width: $md1) {
			grid-column: span 15;
		}
		&--small {
			@media (min-width: $md1) {
				grid-column: span 12;
			}
		}
		&--medium {
			@media (min-width: $md3) {
				grid-column: span 10;
			}
			@media (min-width: $md1) {
				grid-column: span 20;
			}
			.product__card-image {
				padding-block: 0.75rem;
			}
		}
		&--large {
			@media (min-width: $md3) {
				grid-column: span 15;
			}
			@media (min-width: $md2) {
				grid-column: span 30;
			}
		}
		&--large-mobile {
			@media (max-width: $md4) {
				grid-column: span 2;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
			}
		}
	}
	// .product__card-image
	&__card-image {
		width: 100%;
		height: 4.625rem;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding: 0.25rem 1.5rem;
		border-radius: 1rem;
		& img {
			max-height: 100%;
			width: auto;
		}
	}
	// .product__card-name
	&__card-name {
		min-height: 4.5rem;
		padding: 0.25rem 0;
		align-content: center;
	}
	// .product__more
	&__more {
		margin-top: 1.25rem;
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: rem(245);
		&::before {
			order: 1;
		}
	}
	&__category {
		&:not(:last-child) {
			margin-bottom: rem(65);
		}
		.product__card-name {
			min-height: 3.8rem;
		}
	}
	// .product__categories-content
	&__categories-content {
		position: relative;
	}
	// .product__categories-slider
	&__categories-slider {
	}
	// .product__categories-block
	&__categories-block {
		@media (min-width: $md2) {
			width: rem(860);
		}
	}
	&__categories-more-slider {
		.swiper-slide {
			@media (max-width: $md3) {
				width: rem(170);
			}
		}
	}
	// .product__categories-next
	&__categories-next {
		@media (max-width: $md4) {
			display: none;
		}
	}

	// .product__categories-prev
	&__categories-prev {
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__categories-scrollbar {
		margin-top: 1rem;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .product__rows
	&__rows {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}
	// .product__row
	&__row {
		display: flex;
		flex-direction: column;
		gap: 1rem;
		@media (min-width: $md4) {
			gap: 1.5rem;
			align-items: center;
			flex-direction: row;
		}
	}
	// .product__row-image
	&__row-image {
		height: 15rem;
		width: 100%;
		flex-shrink: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 1.25rem;
		border: rem(1) solid #d9d9d9;
		background: rgba(217, 217, 217, 0.01);
		position: relative;
		overflow: hidden;
		& > img {
			transition: transform 0.3s ease;
		}
		@media (min-width: $md4) {
			width: rem(360);
		}
		@media (any-hover: hover) {
			&:hover {
				& > img {
					transform: scale(1.1);
				}
			}
		}
	}
	// .product__row-company
	&__row-company {
		position: absolute;
		z-index: 2;
		top: 0.75rem;
		left: 0.75rem;
		max-width: 7.5rem;
		pointer-events: none;
	}
	// .product__row-content
	&__row-content {
	}
	// .product__row-name
	&__row-name {
		color: #d21e44;
		font-weight: 600;
		font-size: 1.25rem;
		@media (any-hover: hover) {
			&:hover {
				text-decoration: underline;
			}
		}
		@media (min-width: $md4) {
			font-size: 1.5rem;
		}
	}
	// .product__row-desc
	&__row-desc {
		color: #808080;
		line-height: 120%;
		font-size: 1rem;
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 1.5rem;
			font-size: 1.125rem;
		}
	}
	// .product__info
	&__info {
		display: flex;
		gap: 1.5rem;
		flex-direction: column;
		margin: 0 -1rem;
		@media (min-width: $md4) {
			margin: 0;
		}
		@media (min-width: $md2) {
			align-items: flex-start;
			flex-direction: row;
		}
	}
	// .product__visual
	&__visual {
		flex-shrink: 0;
		@media (min-width: $md3) {
			width: rem(210);
			height: rem(202);
		}
	}
	// .product__thumb
	&__thumb {
		border-radius: 0 0 0.625rem 0.625rem;
		border: 1px solid #d9d9d9;

		display: flex;
		justify-content: center;
		align-items: center;
		padding: 2rem;
		position: relative;

		&::before {
			position: absolute;
			bottom: rem(11);
			right: rem(11);
			color: $accent;
		}
	}
	// .product__content
	&__content {
		flex: 1 1 auto;
	}
	// .product__name
	&__name {
	}
	&__desc {
		margin-top: 1rem;
		font-size: 1rem;
		line-height: 125%;
	}
	&__content-desktop {
		display: none;
		@media (min-width: $md3) {
			display: block;
			margin-top: rem(20);
		}
	}
	// .product__table
	&__table {
	}
	// .product__content-mobile
	&__content-mobile {
		margin-top: 0.5rem;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .product__details
	&__details {
		border-radius: 1.25rem;
		background: #fff;
		display: flex;
		flex-direction: column;
		padding: 1rem;
		margin-inline: -1rem;
		&:nth-child(even) {
			background: #f6f6f6;
		}
	}
	// .product__details-name
	&__details-name {
		font-size: 1.125rem;
	}
	// .product__details-price
	&__details-price {
		margin-top: 0.75rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .product__details-text
	&__details-text {
		color: #2a2a2a;
		font-size: 1rem;
		font-weight: 500;
	}
	// .product__details-value
	&__details-value {
		color: #808080;
		text-align: right;
		font-size: 1rem;
	}
	// .product__details-actions
	&__details-actions {
		margin-top: 1rem;
		display: flex;
		gap: 0.5rem;
	}
	// .product__details-add
	&__details-add {
		flex: 1 1 auto;
		min-height: rem(38);
		&.btn {
			font-size: 1rem;
			padding: 0.56rem;
		}
	}
	// .product__details-accordion
	&__details-accordion {
	}
	// .product__details-toggler
	&__details-toggler {
		margin-top: 0.875rem;
		padding: 0.875rem 0;
		border-top: rem(1) solid #d8d5d5;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		gap: 0.5rem;
		&::before {
			transition: transform 0.3s ease;
			order: 1;
		}
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
	}
	// .product__details-list
	&__details-list {
		margin-top: 1rem;
		display: none;
	}
	// .product__details-item
	&__details-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
	// .product__more
	&__more {
	}
}

.table-block {
	width: 100%;
	thead {
		& tr {
			& th {
				background: #f6f6f6;
				color: #2a2a2a;
				font-size: 1rem;
				font-weight: 500;
				padding: 0.69rem 0.75rem;
				text-align: center;
				&:has(.icon-question-mark) {
					text-align: left;
				}
				&:first-child {
					text-align: left;
					border-radius: rem(12) 0 0 rem(12);
				}
				&:last-child {
					border-radius: 0 rem(12) rem(12) 0;
					text-align: left;
				}
			}
		}
	}
	tbody {
		tr {
			&:nth-child(even) {
				& td {
					background: linear-gradient(0deg, #f9f9f9 0%, #f9f9f9 100%), #fcfcfc;
				}
			}
			td {
				padding: 1.62rem 0.25rem;
				color: #808080;
				text-align: center;
				font-size: 1rem;
				&:last-child {
					width: rem(230);
					padding-right: rem(12);
					text-align: left;
				}
				&:first-child {
					text-align: left;
					padding-left: rem(12);
				}
				& a {
					transition: color 0.3s ease;
					@media (any-hover: hover) {
						&:hover {
							color: $accent;
						}
					}
				}
			}
			@media (any-hover: hover) {
				&:hover {
					& td {
						background: linear-gradient(0deg, #f9f9f9 0%, #f9f9f9 100%), #fcfcfc;
					}
				}
			}
		}
	}
	.icon-question-mark {
		display: inline-flex;
		align-items: center;
		gap: 0.5rem;
		cursor: pointer;
		&::before {
			order: 1;
		}
	}
	// .table-block__actions
	&__actions {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		gap: 0.75rem;
		color: #242020;
		width: rem(230);
		.form__control {
			width: 2rem;
			height: 2rem;
			padding: 0;
			text-align: center;
			border-radius: 0.625rem;
			border: 1px solid #e1e1e1;
			background: rgba(255, 255, 255, 0.01);
			&:focus {
				border-color: $accent;
			}
		}
	}
	// .table-block__add
	&__add {
		&.btn {
			font-size: 0.875rem;
			min-height: rem(32);
			padding: 0.5rem 0.88rem;
		}
	}
}
