.product {
	// .product__block
	&__block {
		position: relative;
		z-index: 2;
		&:not(:last-child) {
			margin-bottom: 1.5rem;
		}
		.sm-block {
			max-width: rem(950);
			width: fit-content;
			& ul {
				max-width: rem(728);
			}
		}
		.grey-block {
			.benefits__content {
				background: transparent;
				overflow: hidden;
				margin-top: 0;
			}
		}
	}
	// .product__more-btn
	&__more-btn {
		margin-top: 1.5rem;
		margin-left: auto;
		display: flex;
		width: fit-content;
		&::before {
			order: 1;
		}
	}
	// .product__desc
	&__desc {
	}
	// .product__image
	&__image {
		width: 100%;
		& img {
			border: rem(8) solid #f4f5f6;
			border-radius: 1.25rem;
			width: 100% !important;
		}
	}
	// .product__cards
	&__cards {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 0.56rem;
		max-width: 100%;
		width: 100%;
		&:not(:first-child) {
			margin-top: 1rem;
			@media (min-width: $md3) {
				margin-top: 1.5rem;
			}
		}
		@media (min-width: $md3) {
			grid-template-columns: repeat(30, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(60, 1fr);
		}
	}
	// .product__card
	&__card {
		border-radius: 1.25rem;
		background: #f4f5f6;
		padding: 0.25rem;
		display: flex;
		flex-direction: column;
		text-align: center;
		transition: color 0.3s ease;
		@media (max-width: $md3) {
			&:last-child {
				&:nth-child(odd) {
					grid-column: span 2;
				}
			}
		}
		@media (min-width: $md3) {
			grid-column: span 10;
		}
		@media (min-width: $md1) {
			grid-column: span 15;
		}
		&--small {
			@media (min-width: $md1) {
				grid-column: span 12;
			}
		}
		&--medium {
			@media (min-width: $md3) {
				grid-column: span 10;
			}
			@media (min-width: $md1) {
				grid-column: span 20;
			}
			.product__card-image {
				padding-block: 0.75rem;
			}
		}
		&--large {
			@media (min-width: $md3) {
				grid-column: span 15;
			}
			@media (min-width: $md2) {
				grid-column: span 30;
			}
		}
		&--large-mobile {
			@media (max-width: $md4) {
				grid-column: span 2;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
			}
		}
	}
	// .product__card-image
	&__card-image {
		width: 100%;
		height: 4.625rem;
		background: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		overflow: hidden;
		padding: 0.25rem 1.5rem;
		border-radius: 1rem;
		& img {
			max-height: 100%;
			width: auto;
		}
	}
	// .product__card-name
	&__card-name {
		min-height: 4.5rem;
		padding: 0.25rem 0;
		align-content: center;
	}
	// .product__more
	&__more {
		margin-top: 1.25rem;
		display: flex;
		width: fit-content;
		margin-inline: auto;
		min-width: rem(245);
		&::before {
			order: 1;
		}
	}
	&__category {
		&:not(:last-child) {
			margin-bottom: rem(65);
		}
		.product__card-name {
			min-height: 3.8rem;
		}
	}
	// .product__categories-content
	&__categories-content {
		position: relative;
	}
	// .product__categories-slider
	&__categories-slider {
	}
	// .product__categories-block
	&__categories-block {
		@media (min-width: $md2) {
			width: rem(860);
		}
	}
	&__categories-more-slider {
		.swiper-slide {
			@media (max-width: $md3) {
				width: rem(170);
			}
		}
	}
	// .product__categories-next
	&__categories-next {
		@media (max-width: $md4) {
			display: none;
		}
	}

	// .product__categories-prev
	&__categories-prev {
		@media (max-width: $md4) {
			display: none;
		}
	}
	&__categories-scrollbar {
		margin-top: 1rem;
		@media (min-width: $md4) {
			display: none;
		}
	}
}
