<label class="option">
    <input type="radio" name="@@name" value="@@text" class="option__input hidden" hidden @@if (typeof checked !=='undefined' && checked===true) {checked}>
    <span class="option__btn">
        <span class="color-block" data-count="@@for (var i = colors.length; i <= colors.length; i++) {`+colors.length+`}" style="@@for (var i = 0; i < colors.length; i++) {--color-`+[i+1]+` :`+colors[i]+`;}">
        </span>
    </span>
    @@if (typeof withoutText == 'undefined') {
    <span class="option__text">@@text</span>
    }
</label>