<ul class="submenu__list">
    <li class="submenu__item"><a href="/privacy.html" class="submenu__link icon-chevron-right@@if(typeof active !== 'undefined' && active == 8){ active}">Политика конфиденциальности</a></li>
    <li class="submenu__item"><a href="" class="submenu__link icon-chevron-right@@if(typeof active !== 'undefined' && active == 9){ active}">Защита данных</a></li>
    <li class="submenu__item"><a href="" class="submenu__link icon-chevron-right@@if(typeof active !== 'undefined' && active == 10){ active}">Cookies</a></li>
</ul>