<li class="products__item@@extrasClass" data-animate="bottom">
    <div class="products__item-main">
        <div class="products__image @@imageClass">
            <img src="@@image" alt="Фото категории товара">
        </div>
        <h3 class="products__name">@@name</h3>
        <p class="products__description">@@description</p>
        <a href="catalog.html" class="products__link icon-chevron-right">в КАТАЛОГ</a>
    </div>
    @@if(extrasClass.length > 0) {
    <div class="products__picture">
        <img src="@img/decor/cat.png" alt="Рисунок кота">
    </div>
    }
</li>