<li class="reviews__item@@className">
    @@if(typeof cert !== 'undefined'){
    <div class="reviews__item-body">
        }
        <div class="reviews__item-logo">
            <img src="@@logo" alt="Логотип компании">
        </div>
        <div class="reviews__item-caption">@@company</div>
        <blockquote class="reviews__item-text">
            @@if(typeof review !== 'undefined' && review.length > 0){
            @@for (var i = 0; i < review.length; i++) { <p>`+review[i]+`</p>}
                }
        </blockquote>
        @@if(typeof cert !== 'undefined'){
    </div>
    }
    @@if(typeof cert !== 'undefined'){
    <a href="@@cert" data-fancybox class="reviews__item-cert">
        <img src="@@cert" alt="Фото отзыва">
    </a>
    <a href="@@cert" data-fancybox class="reviews__item-btn btn btn-primary-outline icon-picture">Оригинал отзыва</a>
    }
</li>