<div class="shop-item@@if(typeof className !== 'undefined'){ @@className}" id="product-@@id">
    <div class="shop-item__header">
        @@if(typeof labels !== 'undefined' && labels.length > 0){<div class="shop-item__labels">@@for (var i = 0; i < labels.length; i++) { `+(labels[i]==="new" ? '<div class="label label--small label--violet">Новинка</div>' : '' )+` `+(labels[i]==="360" ? '<div class="label label--small label--black icon-cube">360°</div>' : '' )+` `+(labels[i]==="video" ? '<div class="label label--small label--black icon-play-square">Видеообзор</div>' : '' )+` `+(labels[i]==="cashback" ? '<div class="label label--small label--gradient icon-energy">Кэшбэк 10%</div>' : '' )+` `+(labels[i]==="sale" ? '<div class="label label--small label--yellow">Акция</div>' : '' )+` `+(labels[i]==="discount" ? '<div class="label label--small label--pink">@@sale</div>' : '' )+` } </div>}
                <a href="product.html" class="shop-item__slider swiper">
                    <span class="swiper-wrapper">
                        <span class="shop-item__slide swiper-slide">
                            <img src="@@image" loading="lazy" alt="Фото товара">
                            <span class="swiper-lazy-preloader"></span>
                        </span>
                        <span class="shop-item__slide swiper-slide">
                            <img src="@img/goods/herring-45g/02.jpg" loading="lazy" alt="Фото товара">
                            <span class="swiper-lazy-preloader"></span>
                        </span>
                        <span class="shop-item__slide swiper-slide">
                            <img src="@img/goods/herring-45g/03.jpg" loading="lazy" alt="Фото товара">
                            <span class="swiper-lazy-preloader"></span>
                        </span>

                        @@if(typeof labels !== 'undefined' && labels.indexOf("360") !== -1) {
                        <span class="shop-item__slide swiper-slide">
                            <video class="shop-item__video" playsinline autoplay muted loop preload="metadata">
                                <source src="files/herring-45g.mp4" type="video/mp4">
                            </video>
                        </span>
                        }

                    </span>
                </a>
        </div>
        <div class="shop-item__body">
            <div class="shop-item__actions">
                <button type="button" class="shop-item__favorite favorite-btn"></button>
                <button type="button" class="shop-item__compare compare-btn icon-compare"></button>
                <div class="shop-item__pagination swiper-pagination"></div>
                <div class="shop-item__sku">@@id</div>
            </div>
            <a href="product.html" class="shop-item__name">@@name</a>
            <div class="shop-item__footer">
                <ul class="shop-item__props">
                    <li class="shop-item__prop">
                        <div class="shop-item__prop-name">Длина, мм:</div>
                        <div class="shop-item__prop-value">90 (девяностик)</div>
                    </li>
                    <li class="shop-item__prop">
                        <div class="shop-item__prop-name">Вес, г:</div>
                        <div class="shop-item__prop-value">10.2</div>
                    </li>
                    <li class="shop-item__prop">
                        <div class="shop-item__prop-name">Плавучесть:</div>
                        <div class="shop-item__prop-value">Тонущий</div>
                    </li>
                    <li class="shop-item__prop">
                        <div class="shop-item__prop-name">Заглубление, м:</div>
                        <div class="shop-item__prop-value">0,8–1,0</div>
                    </li>
                    <li class="shop-item__prop">
                        <div class="shop-item__prop-name">Вид ловли:</div>
                        <div class="shop-item__prop-value">на щуку</div>
                    </li>
                </ul>
                <div class="shop-item__main">
                    <div class="shop-item__price">
                        @@if (typeof oldPrice !== 'undefined') {
                        <div class="shop-item__price-old">
                            <span class="shop-item__price-old-value">@@oldPrice</span>
                            @@if (typeof sale !== 'undefined') {
                            <span class="shop-item__price-sale">@@sale</span>
                            }
                        </div>
                        }
                        <div class="shop-item__price-current">@@price</div>
                    </div>
                    <button type="button" class="shop-item__add-to-cart cart-btn">
                        <span>в корзину</span>
                    </button>
                </div>
            </div>
        </div>
    </div>