:root {
	--swiper-pagination-bottom: #{rem(12)};
	--swiper-scrollbar-bottom: #{rem(8)};
	--swiper-scrollbar-sides-offset: 4.5%;
	--swiper-scrollbar-size: 0.125rem;
	--swiper-scrollbar-bg-color: #f2f2f2;
	--swiper-scrollbar-drag-bg-color: #666;
	@media (min-width: $md4) {
		--swiper-pagination-bottom: #{rem(42)};
	}
}

* {
	scroll-margin-top: 4rem;
	@media (min-width: $md3) {
		scroll-margin-top: 5rem;
	}
	@media (min-width: $md2) {
		scroll-margin-top: 7rem;
	}
}

body {
	font-family: $fontfamily, sans-serif;
	font-size: 1rem;
	min-width: rem($minWidth);
	min-height: 100%;
	line-height: normal;
	margin-right: 0 !important;
	background: #f2f2f2;

	&.lock-catalog {
		@media (max-width: $md3) {
			overflow: hidden;
		}
	}
}

// ================== ОБОЛОЧКА ==============================

.wrapper {
	position: relative;
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	margin: 0 auto;
}

.page {
	flex: 1 1 auto;
	overflow-x: clip;
	& > * {
		padding: rem(26) 0;
		@media (min-width: $md4) {
			padding: rem(45) 0;
		}
		&:last-child {
			padding-bottom: rem(60);
		}
	}
}

// ================== ОБОЛОЧКА ===============================

// ================== LAYOUT =================================
.container {
	margin: 0 auto;
	max-width: 100%;
	padding: 0 1rem;
	@media (min-width: $md4) {
		box-sizing: content-box;
		max-width: rem(540);
	}
	@media (min-width: $md3) {
		max-width: rem(720);
	}
	@media (min-width: $md2) {
		max-width: rem(960);
	}
	@media (min-width: $md1) {
		max-width: rem(1200);
	}
}

//=============== LAYOUT ===============================

// =============== MODULES ====================

@import "./modules/breads";
// @import "./modules/animation";
@import "./modules/pagination";
@import "./modules/popup";
// =============== MODULES ====================
.heading {
	// .heading__title
	&__title {
		margin-top: 1rem;
		@media (min-width: $md4) {
			margin-top: 1.5rem;
		}
	}
}
