.header {
	background: #fff;
	border-radius: 0 0 1.25rem 1.25rem;
	position: sticky;
	top: 0;
	z-index: 6;
	@media (min-width: $md4) {
		position: static;
		top: auto;
		border-radius: 0;
	}
	// .header__navbar
	&__navbar {
	}
	// .header__body
	&__body {
	}
	// .header__content
	&__content {
		padding: rem(10) 0;
		display: flex;
		align-items: center;
		position: relative;
		z-index: 6;
		gap: 1rem;
		flex-wrap: wrap;
		@media (min-width: $md2) {
			flex-wrap: nowrap;
		}
		@media (min-width: $md1) {
			gap: 1.25rem;
		}
	}
	// .header__logo
	&__logo {
		margin: 0 auto;
		max-width: rem(73);
		@media (min-width: $md4) {
			max-width: rem(114);
			margin: 0;
		}
	}
	// .header__catalog
	&__catalog {
		order: -1;
		@media (min-width: $md4) {
			order: 0;
			margin-left: rem(10);
			margin-right: auto;
		}
	}
	// .header__search
	&__search {
		flex: 0 0 100%;
		order: 1;
		@media (min-width: $md2) {
			flex: 1 1 auto;
			order: 0;
		}
	}
	// .header__actions
	&__actions {
		align-items: center;
		gap: 1.5rem;
		position: fixed;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 7;
		color: #666;
		background: #ffffff;
		padding: rem(11) rem(16);
		border-radius: 1.25rem 1.25rem 0 0;
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		@media (min-width: $md3) {
			margin-left: 0.5rem;
			position: static;
			bottom: auto;
			left: auto;
			right: auto;
			border-radius: 0;
			background: transparent;
			color: inherit;
			display: flex;
		}
	}
	// .header__action
	&__action {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 0.25rem;
		font-size: 0.75rem;
		position: relative;
		transition: color 0.3s ease;
		&.active {
			color: $accent;
		}
		&--mobile {
			@media (min-width: $md3) {
				display: none;
			}
		}
		&::before {
			font-size: 1.25rem;
			width: 1.25rem;
			height: 1.25rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		&[data-quantity] {
			&::after {
				content: attr(data-quantity);
				position: absolute;
				top: -0.22rem;
				left: 50%;
				display: flex;
				justify-content: center;
				align-items: center;
				padding: 0.125rem;
				height: 0.75rem;
				min-width: 0.75rem;
				border-radius: 3.125rem;
				background: #d21e44;
				color: #fff;
				font-size: 0.625rem;
			}
		}
		&[data-quantity="0"] {
			&::after {
				display: none;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .header__contacts
	&__contacts {
		display: flex;
		flex-direction: column;
		align-items: flex-end;
		flex: 0 0 rem(40);
		@media (min-width: $md4) {
			text-align: right;
			gap: 0.25rem;
			flex: 0 0 rem(165);
		}
	}
	// .header__contacts-header
	&__contacts-header {
		display: none;
		@media (min-width: $md4) {
			display: flex;
			align-items: center;
			gap: rem(6);
		}
	}
	// .header__contacts-phone
	&__contacts-phone {
		color: $accent;
		@media (min-width: $md4) {
			display: none;
		}
	}
	// .header__info
	&__info {
	}
	// .header__info-btn
	&__info-btn {
		width: 1rem;
		height: 1rem;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
			}
		}
	}
	// .header__phone
	&__phone {
		font-size: 1.125rem;
		font-weight: 500;
		line-height: 120%;
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
	// .header__callback
	&__callback {
		display: none;
		@media (min-width: $md4) {
			color: #a1093a;
			font-size: 0.9375rem;
			font-weight: 300;
			line-height: 113.333%;
			display: flex;
			align-items: center;
			gap: 0.78rem;
			& span {
				border-bottom: rem(1) dashed;
			}
		}
		@media (any-hover: hover) {
			&:hover {
				& span {
					border-bottom-color: transparent;
				}
			}
		}
	}
}

.menu {
	border-bottom: rem(2) solid #e42747;
	background: #a3093f;
	color: #fff;

	line-height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	padding: rem(10);
	transition: transform 0.3s ease;
	transform: translateX(-100%);
	@media (min-width: $md3) {
		position: static;
		top: auto;
		left: auto;
		width: auto;
		height: auto;
		transform: none;
		transition: none;
		font-size: 0.75rem;
		padding: rem(10) 0;
	}
	// .menu__body
	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	// .menu__list
	&__list {
		display: flex;
		gap: rem(24);
		row-gap: 0.75rem;
		flex-direction: column;
		@media (min-width: $md3) {
			align-items: center;
			flex-wrap: wrap;
			flex-direction: row;
		}
		@media (min-width: $md1) {
			gap: rem(32);
		}
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #ebebeb;
			}
		}
	}
	// .menu__address
	&__address {
		display: none;
		@media (min-width: $md3) {
			display: flex;
			align-items: center;
			gap: rem(4);
			flex-shrink: 0;
		}
	}
}

.search {
	border-radius: 0.5rem;
	background: #d21e44;
	display: flex;
	border: 0.125rem solid #d21e44;
	min-height: rem(40);
	// .search__input
	&__input {
		flex: 1 1 auto;
		font-size: 1rem;
		color: $black;
		background: #fff;
		padding: 0.5rem 0.75rem;
		font-size: 1rem;
		text-overflow: ellipsis;
		border-radius: 0.375rem;
		caret-color: $black;
		&::placeholder {
			color: #bcb2b2;
			opacity: 1;
		}
	}
	// .search__btn
	&__btn {
		display: flex;
		align-items: center;
		color: #fff;
		gap: 0.5rem;
		font-size: 1rem;
		padding: 0.5rem 0.87rem;
		border-radius: 0.375rem;
		transition: background-color 0.3s ease;
		&::before {
			width: 1rem;
			height: 1rem;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #d21e44, $amount: 10);
			}
		}
	}
}

.icon-menu {
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	padding: 0.62rem;
	min-width: 2.5rem;
	height: 2.5rem;
	border-radius: 0.5rem;
	background: #f4d400;
	color: #181d27;
	z-index: 11;
	transition: all 0.3s ease;
	@media (min-width: 1299.98px) {
		display: none;
	}
	& span {
		display: block;
		padding: rem(1.5) rem(2);
		align-self: stretch;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		&::before {
			content: "";
			display: block;
			height: rem(2);
			border-radius: rem(2);
			background: currentColor;
			transition: transform 0.3s ease 0s;
			will-change: transform;
		}
		&:last-child {
			margin-left: auto;
			width: 75%;
		}
	}
	&.active {
		color: #fff;
		background: transparent;
		padding: 0.35rem;
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
			}
			&:first-child {
				transform: translateY(rem(5));
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(rem(-5));
				width: 100%;
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}

.catalog {
	// .catalog__button
	&__button {
		border-radius: 0.5rem;
		background: #d21e44;
		color: #fff;
		min-height: rem(40);
		min-width: rem(40);
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1rem;
		font-weight: 500;
		font-size: 1rem;
		transition: background-color 0.3s ease;
		padding: rem(12) rem(8);
		@media (min-width: $md4) {
			padding: 0.65rem 1.25rem;
		}
		& span {
			display: none;
			pointer-events: none;
			@media (min-width: $md4) {
				display: inline;
			}
		}
		&::before {
			width: rem(24);
			height: rem(16);
			flex-shrink: 0;
			display: flex;
			justify-content: center;
			align-items: center;
			@extend %ic;
			@extend .icon-burger;
			@media (min-width: $md4) {
				width: rem(18);
				height: rem(18);
				font-size: 0.75rem;
			}
			.catalog--active & {
				@extend .icon-close;
			}
		}

		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #d21e44, $amount: 10);
			}
		}
	}
	// .catalog__content
	&__content {
		position: fixed;
		z-index: 6;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;

		display: none;
		overflow-y: auto;
		overflow-x: hidden;
		flex-direction: column;
		background: #f2f2f2;
		padding-bottom: rem(80);
		@media (min-width: $md4) {
			flex-direction: row;
		}
		@media (min-width: $md3) {
			background: #fff;
			overflow-y: visible;
			overflow-x: visible;
			box-shadow: 0 2rem 2rem 0 rgba(0, 0, 0, 0.2);
			border-radius: 0 0 1.25rem 1.25rem;
			bottom: auto;
			padding-bottom: 0;
			top: 100%;
			position: absolute;
		}
		.catalog--active & {
			display: flex;
		}
	}
	// .catalog__header
	&__header {
		padding: 1.12rem 1rem 1rem;

		background: #fff;
		border-radius: 0 0 1.25rem 1.25rem;
		position: sticky;
		top: 0;
		z-index: 7;
		@media (min-width: $md3) {
			display: none;
		}
	}
	// .catalog__header-row
	&__header-row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		gap: 0.5rem;
	}
	// .catalog__search
	&__search {
		position: relative;
		margin-top: 1rem;
		width: 100%;
	}
	// .catalog__search-submit
	&__search-submit {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 1rem;
		color: #939393;
	}
	// .catalog__search-input
	&__search-input {
		border-radius: 0.625rem;
		background: #f8f8f8;
		border: 1px solid #f8f8f8;
		width: 100%;
		padding: 0.625rem 1rem 0.625rem 3.13rem;
		transition: border-color 0.3s ease;
		&:focus {
			border-color: $accent;
		}
	}
	// .catalog__back
	&__back {
		font-size: 1.5625rem;
		width: 1.5625rem;
		height: 1.5625rem;
		flex-shrink: 0;
		color: #939393;
		&::before {
			transform: rotate(180deg);
		}
	}
	// .catalog__current
	&__current {
		font-size: 1rem;
		font-weight: 500;
		text-align: center;
	}
	// .catalog__close
	&__close {
	}
	// .catalog__close
	&__close {
		color: #939393;
		font-size: 1rem;
		width: 1.5625rem;
		height: 1.5625rem;
	}
	// .catalog__categories
	&__categories {
		background: #fff;
		margin-top: 0.62rem;
		border-radius: 1.25rem;
		padding: 1.25rem 1rem;
		&--hidden {
			display: none;
		}
		@media (min-width: $md3) {
			padding: rem(10) rem(8) rem(10) rem(10);
			border-radius: 0;
			margin-top: 0;
			background: transparent;
			border-right: rem(1) solid #d9d9d9;
			flex: 0 0 rem(220);
		}

		@media (min-width: $md2) {
			flex: 0 0 rem(281);
		}
	}
	// .catalog__category
	&__category {
		&:not(:last-child) {
			padding-bottom: 1.25rem;
			margin-bottom: 1.25rem;
			border-bottom: rem(1) solid #e3e3e3;
			@media (min-width: $md3) {
				margin-bottom: 0.25rem;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	// .catalog__category-btn
	&__category-btn {
		width: 100%;
		display: flex;
		justify-content: space-between;
		text-align: left;
		transition: background-color 0.3s ease, color 0.3s ease;
		position: relative;
		font-size: 1rem;
		@media (min-width: $md3) {
			font-size: 0.875rem;
			border-radius: 0.5rem;
			padding: 0.32rem 0.62rem;
			min-height: rem(28);
		}
		&::after {
			@media (min-width: $md3) {
				content: "";
				position: absolute;
				top: 50%;
				transform: translateY(-50%) scale(0);
				left: 0;
				width: 0.125rem;
				height: 1rem;
				border-radius: 0 0.625rem 0.625rem 0;
				background: #d21e44;
			}
		}
		&::before {
			order: 1;
			color: $accent;
			@media (min-width: $md3) {
				display: none;
			}
		}
		&.active {
			@media (min-width: $md3) {
				background: #f8f8f8;
				color: #d21e44;
				&::after {
					transform: translateY(-50%) scale(1);
				}
			}
		}
		@media (any-hover: hover) {
			&:hover {
				background: #f8f8f8;
				color: #d21e44;
			}
		}
	}
	// .catalog__body
	&__body {
		background: #fff;
		margin-top: 0.62rem;
		border-radius: 1.25rem;
		padding: 1.25rem 1rem;
		display: none;
		&--visible {
			display: block;
		}
		@media (min-width: $md3) {
			border-radius: 0;
			margin-top: 0;
			padding: 1.25rem 1.5rem;
			display: block;
		}
	}
	// .catalog__block
	&__block {
		display: none;
		&--submenu-active {
			.catalog__brand {
				display: none;
				&.active {
					display: block;
				}
			}
		}
		@media (min-width: $md3) {
			gap: 1.5rem;
			grid-template-columns: repeat(2, 1fr);
		}
		@media (min-width: $md1) {
			grid-template-columns: repeat(3, 1fr);
		}
		&.active {
			display: grid;
		}
	}

	// .catalog__brand
	&__brand {
		&.active {
			@media (max-width: $md3) {
				&:not(:last-child) {
					border-bottom: 0;
					padding-bottom: 0;
					margin-bottom: 0;
				}
				.catalog__brand-caption {
					display: none;
				}
				.catalog__brand-list {
					display: block;
				}
			}
		}
		&:not(:last-child) {
			padding-bottom: 1.25rem;
			margin-bottom: 1.25rem;
			border-bottom: rem(1) solid #e3e3e3;
			@media (min-width: $md3) {
				margin-bottom: 0rem;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	// .catalog__brand-caption
	&__brand-caption {
		text-align: left;
		display: flex;
		justify-content: space-between;
		width: 100%;
		&::before {
			order: 1;
			color: $accent;
			@media (min-width: $md3) {
				display: none;
			}
		}
		@media (min-width: $md3) {
			color: #000;
			font-size: 1rem;
			font-weight: 500;
		}
	}
	// .catalog__brand-list
	&__brand-list {
		line-height: 120%;
		display: none;
		@media (min-width: $md3) {
			font-size: 0.875rem;
			margin-top: 1rem;
			display: block;
		}
	}
	// .catalog__brand-item
	&__brand-item {
		&:not(:last-child) {
			padding-bottom: 1.25rem;
			margin-bottom: 1.25rem;
			border-bottom: rem(1) solid #e3e3e3;
			@media (min-width: $md3) {
				margin-bottom: 0.75rem;
				padding-bottom: 0;
				border-bottom: 0;
			}
		}
	}
	// .catalog__brand-link
	&__brand-link {
		transition: color 0.3s ease;
		@media (any-hover: hover) {
			&:hover {
				color: #d21e44;
			}
		}
	}
}
